body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
/*header {
    background-color: #2E70F7;
    color: white;
    padding: 20px 10px;
    text-align: center;
}*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E70F7;
    padding: 10px 20px;
    color: white;
    border-bottom: 2px solid #ddd;
}
.left-text, .right-text {
    font-size: 14px;
    color: rgb(232, 239, 240);
}
h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    flex-grow: 1;
}
nav {
    background: #B0C6F4;
    color: #083BA1;
    overflow: hidden;
    padding: 10px;
    font-weight: bold;
}
nav a {
    color: #083BA1;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}
nav a:hover {
    background-color: #2E70F7;
    Color:white;
}
main {
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #B0C6F4;
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}